.cart-container {
    background-image: linear-gradient(to right, rgb(230, 183, 97), rgb(250, 164, 93));
color: white;
width: 30%;
height: 60vh;
position: absolute;
right: 0;
top: 10;
border-radius: 5px;
border: 3px ridge black;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 60px 15px 70px 15px;
/*opacity: 0;*/
transition: 0.4s ease-in-out;
}

.checkout-btn {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 70px;
    margin-bottom: 20px;
}

.checkout-btn:hover {
    background-color: orange;
    color: black;
    transition: 0.3s ease-in-out;
}