.cart-container {
background-image: linear-gradient(to right, rgb(230, 183, 97), rgb(250, 164, 93));
color: white;
width: 30%;
height: 60vh;
position: absolute;
right: 0;
top: 10;
border-radius: 5px;
border: 3px ridge black;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 60px 15px 70px 15px;
}

.cart-headline {
    color: black;
    position: absolute;
    top: 0;
    font-size: 23px;
}

.placehoder-text {
    letter-spacing: 1.5px;
    font-size: 37px;
    opacity: 0.3;
    display: flex;
    margin-top: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-logo {
    font-size: 65px;
    margin-bottom: 30px;
}

.end-of-cart {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.checkout-btn {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 8px 6px 8px 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: orange;
   
}

.checkout-btn:hover {
    color: rgb(248, 188, 77);
}

.checkout-btn:active {
    transform: translateY(2px);
}

.summary {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
}

