.product-row {
    width: 80%;
    display: flex;
    justify-content: space-evenly;  
    flex-wrap:wrap;
    margin-top: 50px;
    padding: 0px;
    
}


.album-container {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-right: 10px;
    padding: 15px;
}

.image-container {
    max-width: 55%;  
}

.album-container:target {
    border: 1px solid white;
}

.album-artist {
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.album-title {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
}

.album-price {
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.buy-btn {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

.buy-btn:hover {
    color: var(--hover-color);
}

.buy-btn:active {
    transform: translateY(2px);
}

.img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.7);
}