.home-container {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-headline {
    margin-top: 0px;
    padding-top: 70px;
    letter-spacing: 1.5px;
}

.text-body {
    max-width: 40%;
    font-size: 22px;
    line-height: 1.3em;
    word-spacing: 4px;
}