

.search-container {
    width:auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-right: 330px;

}

.delete-input {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.bx {
   font-size: 24px;
   padding: 3px 1px 2px 2px;
   color: var(--background-color);
}

.bx:hover {
    opacity: 0.8;
}

.searchbar {
    font-size: 22px;
    margin-left: 30px;
    
    
}


.result-list {
    width: 300px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 7%;
    background-color: var(--secondary-color);
    opacity: 0.8;
    left: 38%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 0px;
}

.result-item {
    width: 100%;
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
    padding: 2px;
    cursor: pointer;
}

.result-item a {
    text-decoration: none;
    color: whitesmoke;
}



.result-item a:hover {
    color: white;
    font-weight: 700;
}