nav {
    display: flex;
    background-color: #000;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.navlist {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.list-item {
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.link {
    text-decoration: none;
}