nav {
    display: flex;
    background-color: var(--secondary-color);
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.navlist {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.list-item {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list-item:hover {
    color: var(--hover-color);
}

.color {
    color: var(--primary-color);
}


@media (max-width: 992px) {
    .navlist {
        padding-left: 0px;
    }
}


@media (max-width: 767px)  {
    .list-item {
        font-size: 14px;
    } 
    
    .navlist {
        justify-content: space-around;
     
    }
}