

@font-face {
  font-family: 'Bebas Neue';
  src: local('./assets/fonts/BebasNeue-Regular.ttf') format('ttf')  
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
  font-style: normal;
}

/* Style Guide */

:root {
      --primary-color: orange;
      --secondary-color: black;
      --background-color: gray;
      --hover-color: rgb(248, 188, 77);
}


